<tr class="collapse" id="test-runs-<%= test.id %>">
  <td colspan="8" class="p-0">
    <div id="test-runs-content-<%= test.id %>">
      <%= render "prompt_tracker/testing/prompt_tests/test_runs_accordion_content", test: test %>
    </div>
  </td>
</tr>
