<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th style="width: 25%;" data-column="name">Test Name</th>
        <th style="width: 20%;" data-column="template">Template</th>
        <th style="width: 20%;" data-column="evaluator_configs">Evaluator Configs</th>
        <th style="width: 8%;" data-column="status">Last Status</th>
        <th style="width: 10%;" data-column="last_run">Last Run</th>
        <th style="width: 8%;" class="text-end" data-column="total_runs">Total Runs</th>
        <th style="width: 9%;" data-column="actions">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% tests.each do |test| %>
        <%= render "prompt_tracker/testing/prompt_tests/test_row", test: test, prompt: prompt, version: version %>
        <%= render "prompt_tracker/testing/prompt_tests/test_runs_accordion", test: test %>
      <% end %>
    </tbody>
  </table>
</div>
