<div id="test-modals">
  <!-- Evaluation Modals (outside table structure) -->
  <% if tests.any? %>
    <% tests.each do |test| %>
      <%= render "prompt_tracker/testing/prompt_tests/evaluation_modals", test: test %>
      <%= render "prompt_tracker/testing/prompt_tests/evaluator_config_modals", test: test %>
      <%= render "prompt_tracker/testing/prompt_tests/edit_modal", test: test, prompt: prompt, version: version %>
    <% end %>
  <% end %>
</div>

