<!-- Keyboard Shortcuts Modal -->
<div class="modal fade" id="keyboardShortcutsModal" tabindex="-1" aria-labelledby="keyboardShortcutsModalLabel" aria-hidden="true" data-modal-fix-target="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="keyboardShortcutsModalLabel">
          <i class="bi bi-keyboard"></i> Keyboard Shortcuts
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-sm">
          <tbody>
            <tr>
              <td><kbd>Ctrl</kbd> + <kbd>Enter</kbd></td>
              <td>Refresh preview</td>
            </tr>
            <tr>
              <td><kbd>Ctrl</kbd> + <kbd>S</kbd></td>
              <td>Save draft</td>
            </tr>
            <tr>
              <td><kbd>Ctrl</kbd> + <kbd>/</kbd></td>
              <td>Toggle syntax help</td>
            </tr>
            <tr>
              <td><kbd>Tab</kbd></td>
              <td>Insert 2 spaces (in template editor)</td>
            </tr>
            <tr>
              <td><kbd>Esc</kbd></td>
              <td>Close modals</td>
            </tr>
          </tbody>
        </table>
        <p class="text-muted mb-0">
          <small><i class="bi bi-info-circle"></i> Use <kbd>Cmd</kbd> instead of <kbd>Ctrl</kbd> on Mac</small>
        </p>
      </div>
    </div>
  </div>
</div>

