<td data-column="actions">
  <button type="button" 
          class="btn btn-sm btn-primary" 
          data-bs-toggle="modal" 
          data-bs-target="#human-evaluation-modal-<%= run.id %>"
          title="Add Human Evaluation">
    <i class="bi bi-person-check"></i>
  </button>
</td>

