<td data-column="response_time">
  <% if run.llm_response&.response_time_ms %>
    <small><%= number_with_precision(run.llm_response.response_time_ms, precision: 0) %> ms</small>
  <% else %>
    <span class="text-muted">-</span>
  <% end %>
</td>
